.ios .block-title {
    text-transform: none !important;
}

#requestFlag {
    padding-right: 10px;
}

#requestFlag .badge {
    top: 10px;
    left: 13px;
}

.title-logo {
    display: inline-flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.block-title h3 {
    text-align: center;
}

.block-title h3 input {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 7px;
    justify-content: center;
    border-radius: 6px;
    width: 100%;
    text-align: center;
}

.title-logo img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.rim-toolbar {
    top: 43px;
}

div.tabs-swipeable-wrap.rim-tabs.swiper-container.swiper-container-ios {
    margin-top: 25px;
}

.list .item-inner .item-after.info-icon {
    margin-left: 1px;
    vertical-align: text-top;
    height: 30px;
    padding-left: 1px;
}

.info-icon .icon {
    margin-left: 10px;
    font-size: 1.3em;
    position: relative;
    top: -9px;
    right: -7px;
}

.toolbar .toolbar-inner {
    justify-content: space-around;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.swiper-pagination .swiper-pagination-bullet {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: transparent;
    opacity: 1;
    border-radius: 5px;
    transition: 200ms;
    position: relative;
    transform: scale(.9);
    box-sizing: border-box;
    border: 1px solid rgba(205, 205, 205, .8)
}

.swiper-pagination .swiper-pagination-bullet-active {
    z-index: 1;
    border: 1px solid #007aff;
    transform: scale(1.4)
}

.hidden {
    display: none;
}

#signin-block {
    margin-top: 30px;
}

#signin-block #phone, #signin-block #code {
    height: 60px;
    font-size: 27px;
    text-align: center;
}

#signin-block #code {
    letter-spacing: 4px;
}

.string1 {
    background: rgba(240, 240, 240, 0.9);
    padding: 0.3em;
    margin-bottom: 0.2em;
    border-radius: 7px;
}

.string2 {
    background: rgba(240, 240, 240, 0.5);
    padding: 0.3em;
    margin-bottom: 0.1em;
    border-radius: 7px;
}

.block-title-first {
    margin-top: 15px !important;
}

.icon {
    font-size: 1.6em;
}

.actions-group .action-small {
    font-size: 0.8em;
}

/***********************welcome**************************/
.welcome {
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#4dd0e1), color-stop(#64ffda), color-stop(#8c9eff), color-stop(#9bdfff), color-stop(#00e676), color-stop(#4dd0e1), color-stop(#ec407a), to(#ff9100));
    background: -o-linear-gradient(left, #4dd0e1, #64ffda, #8c9eff, #9bdfff, #00e676, #4dd0e1, #ec407a, #ff9100);
    background: linear-gradient(to right, #4dd0e1, #64ffda, #8c9eff, #9bdfff, #00e676, #4dd0e1, #ec407a, #ff9100);
    background-size: 800% auto;
    background-position-x: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.welcome.is-slide-0 {
    background-position-x: 0;
}

.welcome.is-slide-1 {
    background-position-x: 33.333%;
}

.welcome.is-slide-2 {
    background-position-x: 66.666%;
}

.welcome.is-slide-3 {
    background-position-x: 100%;
}

.welcome .swiper-pagination {
    bottom: 44px;
    text-align: left;
    padding-left: 24px;
}

.welcome .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.7;
    background: none;
    border: 1px #fff solid;
    background: #fff;
}

.welcome .swiper-pagination-bullet-active {
    opacity: 1;
}

.welcome .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 64px;
}

.welcome .screen-title {
    margin-top: 6vh;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

.welcome .icon {
    margin: 8.5vh 0;
}

.welcome .icon path {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.welcome .text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /*justify-content: space-between;*/
    margin: 0 24px;
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    min-height: 224px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(10, 36, 49, 0.1);
    box-shadow: 0 8px 16px 0 rgba(10, 36, 49, 0.1);
}

.welcome .text-block .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    line-height: 1.25;
}

.welcome .text-block p {
    font-weight: 500;
    margin: 8px 0 0;
    font-size: 12px;
    color: #90a4ae;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.welcome .next {
    text-align: right;
    position: fixed;
    bottom: 32px;
    left: 32px;
    right: 24px;
    z-index: 10;
}

.welcome .next .button {
    height: 48px;
    border-radius: 24px;
    padding: 0 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(10, 36, 49, 0.1);
    box-shadow: 0 8px 16px 0 rgba(10, 36, 49, 0.1);
}

.welcome .swiper-slide-active .icon path {
    -webkit-animation: StrokeDash 10s linear both;
    animation: StrokeDash 10s linear both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.welcome .slide-1 .icon path {
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
}

.welcome .block-footer {
    color: #fff !important;
}

@-webkit-keyframes StrokeDash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes StrokeDash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#important {
    padding-top: 7px;
}

#important .swiper-slide {
    overflow: hidden;
    text-align: center;
}

#important .swiper-slide img, #important .swiper-slide svg {
    height: 40px;
    text-align: center;
}

#important .swiper-slide span {
    display: block;
    text-align: center;
    font-size: 11px;
    margin: 0 5px;
    white-space: nowrap;
}

.page[data-name=coinList] .list {
    margin: 15px 0;
}

.coin-list:before, .index-list:after, .coin-list:before, .index-list:before {
    content: none !important;
}

.coin-list li .item-content {

}

.coin-list li .item-content .item-media {
    width: 60px;
    text-align: left;
}

.coin-list li .item-content .item-media .icon {
    height: 50px;

}

.coin-list li .item-content .item-inner:after, .coin-list li .item-content .item-inner:before {
    content: none;
}

.coin-list li .item-content .item-inner .item-title p {
    font-size: 20px;
    margin: 0;
}

.coin-list li .item-content .item-inner .item-title p.isMy:before, .partyItem .item-content.isMy:before{
    content: '♛';
    color: yellow;
    text-shadow: #000 0 0 2px;
    font-size: 160%;
    padding-right: 2px;
}

.coin-list li .item-content .item-inner .item-title span {
    font-size: 11px;
}

.coin-list li .item-content .item-inner .item-after {
    display: block;
}

.coin-list li .item-content .item-inner .item-after .t1 {
    font-size: 11px;
    display: block;
}

.coin-list li .item-content .item-inner .item-after .t2 {
    display: block;
}

#coinItem-swiper > .swiper-container-vertical > .swiper-pagination-bullets {

    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
    margin-bottom: 10px;
}

#coinItem-swiper > div.swiper-pagination.swiper-pagination-bullets > span.swiper-pagination-bullet {
    margin: 12px 8px;
}

#coinItem-swiper .swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 10px !important;
    left: 94% !important;
}


.coin-description .item-header {
    margin-bottom: 10px;
}

.coin-description .item-content {
    white-space: normal;
}

.condition_edit > .item-content input, .spend_edit > .item-content input {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 7px;
    border-radius: 6px;
}

.item-inner .item-after input[name='condition_price'], .item-inner .item-after input[name='spend_price']{
    width: 85px;
}

#add_fake_condition, #add_fake_spend {
    margin-top: 35px;
}

.request-list li {
    border-bottom: 1px solid #e4e4e4;
}

.request-list .item-content .item-media img {
    height: 40px;
    width: 40px;
}

.request-list .item-content .item-action {
    width: 118px;
    margin: 0 20px;
}

.request-list .item-content .item-inner {
    text-align: right;
    font-size: 115%;
}

.request-list .item-content .item-inner.enroll {
    color: green;
}

.request-list .item-content .item-inner.offs {
    color: red;
}

.request-list .item-content .item-inner p {
    width: 100%;
}


.request-list .item-content.description div {
    font-size: 70%;
}